body {

}

.container {
    display: inline-block;
    width: 1200px;
    margin-left: calc((100% - 1200px)/2);
}

main {
    display: inline-block;
    background-color: lightcoral;
    width: 50%;
    float: left;
}

form {
    display: inline-block;
    background-color: lightblue;
    width: 50%;
    float: right;
}

